<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aborres La Barata</title>
    <link rel="stylesheet" href="/public/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
